.form-determineClass {
  margin: 24px 0 36px 0;
}

.form-determineClass input[type='number'] {
  margin-right: 12px;
  font-size: 1rem;
  border: 1px solid #4c650a;
  padding: 6px 10px;
  box-sizing: border-box;
  height: 36px;
  width: 180px;
}

@media screen and (max-width: 465px) {
  .form-determineClass input[type='number'] {
    margin-bottom: 12px;
    width: 100%;
  }

  .form-determineClass input {
    width: 100%;
  }
}
