.App-main .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #5a4f41;
  overflow-x: hidden;
  position: relative;
}

.App-main .image-container img {
  width: 100vw;
}

.App-main .image-container div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 800px;
  height: 100%;
  position: absolute;
}

.App-main .image-container div p {
  color: #f1f0e8;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 2.25px;
  line-height: 1.125;
  text-shadow: 1px 1px 1px #120f0d;
  width: 40%;
  text-align: right;
}

@media screen and (max-width: 1089px) {
  .App-main .image-container div p {
    font-size: 60px;
  }
}

@media screen and (max-width: 959px) {
  main.App-main .image-container div {
    width: 80vw;
  }

  .App-main .image-container div p {
    font-size: 52px;
  }
}

@media screen and (max-width: 767px) {
  .App-main .image-container div {
    display: none;
  }
}
